
/* UTILITIES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.width{
    width: 100%;
}
.col-lg, .col, .testimonials, .col-16, .col-33, .last-main{
    padding: 20px 20px;
}
h4{
    color: #0084fd;
    text-align: center;
    font-size: 17px;
    padding-bottom: 35px;
}
p{
    color: #5a6e7f;
    text-align: justify;
}

/* --------------> */

/* HEADER */

header{
    background-color: #0084fd;
    color: white;
    height: 40px;
    padding: 7px 7px;
    margin-bottom: 50px;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* MAIN CONTENT-SEZIONE 1 */

.margin-small{
    width: 80%;
    height: 690px;
    margin: 0 auto;
}
.col-lg{
    background-color: #b5ddff;
    height: 515px;
    border-radius: 10%;
}
.btn-general{
    position: relative;
    top: 40px;
    left: 15px;
    width: 50%;
    color: white;
    background-color: #0084fd;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;
    font: bold 12px Arial, Helvetica, sans-serif;
}
.img-phone{
    position: relative;
    top: 57px;
    left: 65px;
    width: 225px;
}
.col{
    background-color:  #b5ddff;
    height: 350px;
    margin: 10px 0;
    border-radius: 10%;
}
.col h4{
    position: relative;
    top: 50px;
}
.col p{
    text-align: center;
    padding-top: 50px;
}
.col i{
   position: relative;
   left: 150px;
    color: #0084fd;
}
/* MAIN CONTENT-SEZIONE 2 */

.container-main-2{
    height: 1000px;
    background-color: #0084fd;
    margin-top: 50px;
}
.col-50{
    height: 50%;
    padding: 150px 150px;
    margin-top: 25px;
}

/* MAIN CONTENT-SEZIONE 3 MARGIN SMALL */

.margin-sm{
    height: 1750px;
}
.testimonials{
    height: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.col-33{
    height: 400px;
    background-color:  #0084fd;
    border-radius: 10%;
    margin-top: 20px;
}

/* MAIN CONTENT-SEZIONE 4 */

.margin-big{
    height: 2650px;
    margin-top: 20px;
    background-color: #0084fd;
}
.title-section{
    height: 165px;
    padding: 25px 25px;
}
.col-16{
    background-color: white;
    width: 350px;
    height: 380px;
    margin: 25px auto;
    border-radius: 10%;
}

/* MAIN CONTENT-SEZIONE 5 */

.text-about{               
    height: 1300px;
    background-color:red;
    margin: 45px auto;
}
.title{
    height: 150px;
}
.col-0{
    background-color: white;
}

/* MAIN CONTENT-SEZIONE 6 */

.last-main{
    height: 550px;
    background-color: #0084fd;
    margin: 0 auto;
}
.last-col{
    height: 350px;
    background-color: #0084fd;
}

/* FOOTER */

.footer-section{
    height: 250px;
    background-color: #333333;
}
